[2015-09-12 22:42] sloria opened #1 "Support for Django"
It would be relatively straightforward to implement `HyperlinkRelated` for Django (and other frameworks).

[2015-09-12 22:43] sloria opened #2 "Support inflection of attribute names"
...for those that want to abide by JSON API's recommendation for dasherized attribute names.

[2015-09-14 04:56] sloria commented on #2
This has been implemented.

[2015-09-14 04:56] #2 closed

[2015-09-14 05:42] sloria opened #3 "Document integration with other libraries"
e.g., How does marsmallow-jsonapi integrate with:

- flask-marshmallow
- marshmallow-sqlalchemy

[2015-09-23 12:40] Leo-G opened #4 "Can this be available in Marshmallow itself?"
Its a pain to look at the docs of two libraries and troubleshoot issues, can this be included a method of schema in marhmallow?

[2015-09-23 12:42] Leo-G opened #5 "Ordering JSON data"
I am not sure why but attributes come first instead of id and type, example

[code]

[2015-09-23 13:05] sloria commented on #4
This will not be included in marshmallow core. marshmallow is not tied to any framework, specs, or even HTTP APIs at all. Also, it is more efficient to keep the development cycle of extensions independent of marshmallow core.

[2015-09-23 13:05] #4 closed

[2015-09-23 13:07] sloria commented on #5
Python dictionaries are unordered by default. I suppose we could use a `OrderedDict` by default, or perhaps if the `ordered` class Meta option is set. I may look into this within the next week or two; PRs always welcome. =)

[2015-09-23 14:58] taion commented on #5
This would be a bit of an odd feature. JSON objects are inherently unordered... I guess this is just so stuff looks better to humans for display?

[2015-09-23 15:01] taion opened #6 ""Type" validation?"
Do you plan to validate item `type`s as part of your schema definition? The JSON API spec requires raising a 409 when there is a `type` mismatch. A nice way to handle this might be with a custom exception type (that subclasses `ValueError` instead of `ValidationError`) that applications can catch and re-raise as a 409 (it'd be a bit tricker to figure this out from a generic `ValidationError`).

[2015-09-23 15:03] taion commented on #6
BTW, I can understand why it's `type_`, but feel like it'd still be better if it were `type` :p

[2015-09-24 00:14] sloria commented on #5
Correct; renderers may want to respect order (l believe DRF's browse-able API does this). Given that marshmallow has and `ordered` option, I think this feature makes sense.

[2015-09-24 00:36] sloria commented on #6
Yes, I do plan on adding type validation. Deserialization/validation for this library still needs some work. Ideally, a schema would take be able to JSON API-formatted request body as input.

I'm -0 on `type`. I just decided to go with the PEP8 recommendation. ¯\_(ツ)_/¯

[2015-09-24 00:45] sloria commented on #6
I agree, raising a custom subclass of ValidationError would be ideal. I am trying to get this to work in https://github.com/marshmallow-code/marshmallow/issues/284 , but it's tricky to get right with marshmallow's "error bundling" (due to ValidationErrors getting reraised during deserialization).

[2015-09-24 00:48] taion commented on #6
The trailing underscore recommendation in PEP8 is for avoiding conflicts with keywords, e.g. for `class_`, rather than to avoid shadowing built-ins.

I feel like for something like a class attribute, it's not quite so bad, since in practice you don't shadow the built-in except for declaring other class attributes. For example, this doesn't trigger `redefined-builtin` in pylint (flake8's checks don

[2015-09-24 00:50] taion commented on #6
@sloria

Sorry, what I meant was that the most straightforward approach would be to _not_ subclass `ValidationError`. To me it's actually somewhat defensible, because of the special case handling for this in the JSON API spec, which explicitly says to return a 409, rather than the 400 or 422 that you would get for normal validation failures.

[2015-09-24 13:54] Leo-G opened #7 "How do I add self links"
I see a function
      def get_top_level_links(self, data, many):
        """Hook for adding links to the root of the response data."""
        return None

But i am not sure how to use it to get self links, any help will be apreciated?

[2015-09-26 16:13] Meph- commented on #7
Look at the example:
https://github.com/marshmallow-code/marshmallow-jsonapi/blob/master/examples/flask_example.py

[2015-09-26 17:42] alapshin opened #8 "Doesn't work with marshmallow 2.0"
Looks like `plain_function` was removed from `marshmallow.compat`: https://github.com/marshmallow-code/marshmallow/commit/dbc339fc16b08bb933b735e4ad13c44e29bfa6d0

[2015-09-26 23:01] sloria commented on #8
Just published 0.2.2, which fixes this.

[2015-09-26 23:01] #8 closed

[2015-09-27 16:09] sloria commented on #6
Ah, sorry, I misunderstood your original post. Yes, I think using an error that doesn't subclass ValidationError would be a fine solution.

re: type--Fair point. I still slightly lean towards `type_` just because it's simpler to follow the blanket rule of always adding a trailing underscore to any variable that would mask a built-in or keyword--you don't have to think about class variables vs inst

[2015-09-27 18:39] taion commented on #6
I'm fine either way.

I've definitely bitten myself repeatedly by using `id` as a variable name (for, uhh, IDs), so there's that.

[2015-09-28 11:39] Leo-G commented on #7
Thanks

[2015-09-28 11:39] #7 closed

[2015-09-28 12:16] Leo-G opened #9 "If a request does not include all of the attributes for a resource, the server MUST interpret the missing attributes as if they were included with their current values."
I am struggling to implement this my code

[code]

Complete code at https://github.com/Leo-G/Flask-CRUD-API/blob/master/app/users/views.py

[2015-09-28 13:47] Meph- commented on #9
I do not understand the issue. Server does not set the missing parameters to null , it will change only attributes that were sent in the request, right?

[2015-09-28 14:23] Leo-G commented on #9
When I exclude an attribute for example let's say  a user resource has attributes name, email and phone, When I exclude the attribute email in the patch request Flask gives me a an error "The browser (or proxy) sent a request that this server could not understand."  I think this is because of schema validation but I am not sure. As per the JSON API spec it should not return an error it should use

[2015-09-28 16:25] Meph- commented on #9
This code works for me:

    def patch(self, list_id):
        data = request.data
        serializer = serializer_list.load(data['data']['attributes'])
        data_to_update = serializer.data
        list = List.query.get(list_id)
        try:
            if data_to_update:
                for key, value in data_to_update.iteritems():
                    if hasattr(list, key):

[2015-09-29 07:56] Leo-G commented on #9
Let me check

[2015-10-06 06:08] sloria commented on #6
This has been added.

[2015-10-06 06:08] #6 closed

[2015-10-06 14:46] taion commented on #6
Thanks!

[2015-10-07 09:39] Meph- opened #10 "relations one-to-one with None value"
Hi,
Is schema.dump() works, when relationship "author" is None? I need it for another database schema. Generaly some one-to-one, or many-to-one relationships may be None or null (db) and dump function should return something like:

    ....
    "relationship":{
        "author":{
            "data":null
        }
    }

right?

I have exception:

    data, errors = serializer.dump(post)
    File "

[2015-10-07 12:34] sloria commented on #10
Thanks for reporting @Meph- . I would consider this a bug, and I think your proposed solution--returning an empty `dict`--is a fine solution.

Would you like to send a PR for this? If not, I'll try to get to this within the next few days.

[2015-10-16 16:21] thedrew12 opened #11 "How to implement JSON API Compound Document"
http://jsonapi.org/format/#document-compound-documents

Is there a way to do this? I want to use the top-level `included` member. Similar to this example:

[code]

[2015-10-16 20:06] jklapuch commented on #11
Hi,
I think, it isn't implemented yet. I tried to implement this feature in my project but not in ideal way.
Big task is find a way how to configure schemas for included model to main schema. In your example "ArticleSchema" should know how to serialize "People" and "Comments".  May be, fields.Nested() should be used for implementation of this feature.

[2015-10-19 20:06] jmcarp opened #12 "Support schema introspection"
The envelope used to serialize responses is implemented in a set of helper methods (`format_items`, `wrap_response`, etc.) that could be challenging to introspect (e.g. for building swagger docs). Implementing the envelope using fields and nested schemas would be more amenable to introspection--it should Just Work with apispec.

One option would be adding some magic to `Schema`--for example, overr

[2015-10-21 00:00] sloria commented on #12
I'm not necessarily opposed to generating a nested schema if it would simplify introspection. Also, I like the idea of not using `@pre_*` and `@post_*` methods in this package (since the order of execution of decorated methods isn't guaranteed). IMO, `@pre_` and `@post_` belong in userland.

That said, I haven't given much thought to how much this would complicate the internals.

[2015-10-23 08:30] erlingbo opened #13 "Load schema with only=str gives empty UnmarshalResult"
When using a schema with the only attribute set to a string, the load method returns UnmarshalResult without errors nor data.

[code]

Both return the same UnmarshalResult
`UnmarshalResult(data={}, errors={})`

Preferably the first should work, but the second could be used with a pre load method on the schema class.

Is there anything I have done wrong or is this a bug?

[2015-10-23 09:08] jklapuch commented on #13
Change

[code]

with

[code]

and the second will work. The first will return:

[code]

[2015-10-23 09:17] erlingbo commented on #13
yes, it will, but then dump will give me a different result, and thus not solve my probem

[2015-10-23 09:23] jklapuch commented on #13
Other then this?

[code]

[2015-10-23 09:24] erlingbo commented on #13
I see that I posted this in the json-api repo. Should have been in the original marshmallow project. Will close this and reopen it in the correct project.

https://github.com/marshmallow-code/marshmallow/issues/307

[2015-10-23 09:24] #13 closed, assigned to nobody

[2015-11-11 22:07] cmanallen opened #15 "Loading data from a relationship field"
I'm trying to load data from a relationship field:

Request:

[code]

Schema:

[code]

How do I access the value of the upload relationship.

I'm looking at this section of the JSON API spec (http://jsonapi.org/format/#crud-creating).  It seems to support this form of relationship loading.

[2015-11-11 22:36] cmanallen commented on #15
Also, I have a validator for checking if a particular id exists in the database.  Any way I can use that validator with a relationship field?

[2015-11-16 22:50] erickt opened #17 "Missing support for "links" object"
`marshmallow-jsonapi` is great, but it appears to be missing support for the [document links object](http://jsonapi.org/format/#document-links). I've hacked this into a schema with:

[code]

But it'd be nice if there was formal support for it.

[2015-11-22 01:23] jo-tham opened #18 "marshmallow-jsonapi as argmap/schema for webargs parser"
I tried to use a marshmallow-jsonapi schema for webargs parser and get the following errors

I am trying this, but

[code]

Any suggestions?

[2015-11-22 15:25] jo-tham commented on #18
`request.json` is parsed with the `marshmallow.jsonapi schema`

the schema does not define the first level objects (data, realtionships) as fields, the result of `request.json` parsing is then several marshmallow.missing fields

eventually, this is loaded into the schema, at which point it fails because the `marshmallow.jsonapi schema pre_load` expects `data` as a top level attribute

using `schem

[2015-11-22 23:20] micheljung opened #20 "Deserializing ID"
Deserializing a json-api object currently only gives you all 'attributes'. Since ID is not in there, it's not accessible. The documentation does not cover deserialization at all :-(

[2015-11-23 04:18] #10 closed

[2015-11-25 18:31] jo-tham opened #21 "pre_load needs to be updated for complete deserialization"
@sloria @cmanallen @micheljung
I'm very much liking marshmallow jsonapi, but it feels like it is only useful for dumping data as a few significant issues have come up with deserialization. See:
#15 - data from relationship (and type) fields is not loaded
#18 - ma-jsonapi not compatible with webargs parser
#20 - no documentation for deserialization

To focus on #15 and #18; I get the impression tha

[2015-11-25 19:18] cmanallen commented on #21
Hi @jo-tham

I'm not part of the marshmallow team but, since I was mentioned, I can help you out in an unofficial capacity.

I don't believe nesting schemas are the correct answer.  My opinion is that the schema should be a flat structure.  It should be exactly as your model is (with obvious derivations).  You can use `pre_load` and `post_dump` decorators to structure and flatten the requests and

[2015-11-25 19:42] jo-tham commented on #21
Thanks @cmanallen! sounds like a straight forward solution compared to trying to rejig ma-jsonapi to use nested fields.

I can deal with my application from here, but I'll leave this open in case @sloria has any comment. Perhaps you want `pre_load` extended as @cmanallen suggested to resolve this and related issues?

It still won't resolve webargs compatibility, but maybe there's just no point in

[2015-11-27 12:56] angelosarto opened #22 "Inflection should be applied to relationship names in addition to attribute names."
It seems as if the relationship names do not get the inflect option applied.   I wasn't sure of the best approach to a fix here - but I have a modified version of the flask_example that illustrates the issue.
In this case the output of calling GET on /posts will return the post object with an attribute 'some-title' and a relationship of 'some_comments'

[code]

[2015-11-27 14:03] LeoJavaAI opened #23 "Validate not interpret missing values as if they were included with their current values."
As  per http://jsonapi.org/format/#crud-updating, while updating if the value is not there then it should use the current value.

How ever I am not able to achieve this, my code

[code]

Now if in the schema class i declare a field as cannot be blank, then the above code will not let me interpret the missing field as current when I do an update without the field. How do I proceed?

[2015-11-30 12:51] #23 closed, assigned to nobody

[2015-11-30 12:52] LeoJavaAI commented on #9
As per http://jsonapi.org/format/#crud-updating, while updating if the value is not there then it should use the current value.

How ever I am not able to achieve this, my code

[code]

Now if in the schema class i declare a field as cannot be blank, then the above code will not let me interpret the missing field as current when I do an update without the field. How do I proceed?

[2015-12-01 05:19] sloria commented on #22
Correct; relationship names should also be inflected.

I would welcome a PR for this =).

[2015-12-02 14:07] floqqi opened #24 "Empty relationship"
How to handle empty relationship (e.g. nullable foreign key)?

Code in [line 55](https://github.com/marshmallow-code/marshmallow-jsonapi/blob/dev/marshmallow_jsonapi/flask.py#L55) currently results in:

[code]

This is caused by an empty foreign key (-> `None` in `kwargs`) in the model of the my resource.

I have to work around with

[code]

after [line 53](https://github.com/marshmallow-code/mars

[2015-12-09 11:56] floqqi commented on #24
Shortly thought that #14 would fix this issue, but it's sadly not working with the flask integration.

[2015-12-09 16:52] jo-tham commented on #24
yes, #14 only addresses the data member of relationship objects.

i think your workaround is viable (i have also implemented it locally) and meets the jsonapi requirements when combined with result of #14. Do you wan to make a PR?

[2015-12-09 17:03] floqqi commented on #24
Okay, I'm going to make a PR.

May it be a better solution to catch `werkzeug.routing.BuildError` instead of checking for `None`-values?

[2015-12-09 17:14] jo-tham commented on #24
I think so - it's possible that the route has defaults that are used if a parameter is None, in which case no build error would be raised and we should get a valid link.

On the other hand, (but this I'm not sure of) we may get a `BuildError` for other reasons and we want to let it raise.
You could verify that or perhaps just take the following approach,

[code]

sound OK?

[2015-12-09 19:25] floqqi commented on #24
Sound's like the best solution. I'm going to make a PR soon.

[2015-12-19 17:34] #24 closed, assigned to nobody

[2015-12-21 05:04] #22 closed, assigned to nobody

[2015-12-21 13:41] sloria commented on #21
Sorry for the delay in my response to this.

I'll try to find time over the holidays to investigate the `pre_load` issue and add some documentation for deserialization. Thank you for you patience.

As always, PRs are always welcome (even if they are sketches).

[2015-12-21 13:44] sloria commented on #20
Sorry for the delayed response.

I will try to find time over the holidays to address this and add docs for deserialization.

PRs are always welcome. =)

[2016-01-15 15:17] rubdos opened #28 "Support for metadata"
As in the example on the [documentation](http://jsonapi.org/format/#document-meta), I'd like to add copyright and license information to my JSONAPI objects. It would be nice if the meta top-level objects would be supported.

[code]

I'm interested in doing this, any remarks before I begin?

[2016-01-15 15:28] rubdos commented on #17
I guess this can be closed, since a6a6f63.

[2016-01-16 23:41] sloria commented on #28
Thanks for the PR.

How is this different from using a `Dict` field that is `dump_only`?

[2016-02-08 01:30] jo-tham commented on #21
I think #30 and a few PRs after that closes this, #15, #18, #20! Thanks for the nice work @cmanallen & @sloria for reviewing.

[2016-02-09 04:14] sloria commented on #21
Clos

[2016-02-09 04:14] #21 closed, assigned to nobody

[2016-02-09 04:14] #15 closed, assigned to nobody

[2016-02-09 04:14] #18 closed, assigned to nobody

[2016-02-09 04:15] #20 closed, assigned to nobody

[2016-02-09 04:15] #17 closed, assigned to nobody

[2016-02-09 23:56] erickt opened #34 "marshmallow-jsonapi forcing loading of related data"
I'm using marshmallow-jsonapi with sqlalchemy, and it's forcing loading of related data, when all  I want is for marshmallow-json to create a link to related data. Here's a snippet of what I'm doing:

[code]

Rendering these jobs triggers an access to a job's `server` field, which triggers a SQL query to fetch the server, even though the fetched server record is never used. It would be great if ma

[2016-02-09 23:59] rgant commented on #18
@jo-tham Can you point me to how you resolved this issue?

[2016-02-10 02:21] jo-tham commented on #18
@rgant do you require webargs for your use case?
I am just using `schema.load(request.json)`. It's one line, like the decorator, and sufficiently explicit.

Given a schema, webargs looks up values in request.json but it doesn't expect fields to be wrapped in the jsonapi envelope. You could try overriding `webargs.yourappparser.parse_json()` to deal with this.

[2016-02-10 02:41] rgant commented on #18
I just started looking at the marshmallow ecosystem and I am trying to combine flask-restful API with marshmallow-jsonapi. Is there a good way to get the validation for a schema without using webargs?

For example, this is pretty convenient to handle validating args vs Schema:

[code]

[2016-02-10 04:22] jo-tham commented on #18
`UserSchema` extends `marshmallow-jsonapi.Schema`

note that i'm using flask-restful's class based view here

[code]

violations of the schema are available in `errors`

[2016-02-10 04:32] rgant commented on #18
For jsonapi requests it would be more like `request.json['data']` right?

[2016-02-10 04:44] jo-tham commented on #18
Nope, `marshmallow-jsonapi.Schema.load()` unwraps the object. So you should
can pass entire `request.json`
On Feb 9, 2016 20:32, "J Rob Gant" notifications@github.com wrote:

[2016-02-10 22:55] rgant commented on #18
Thanks, I get it now. In webargs it expects to assemble the data (which might be from the query string) into a dict that can then be loaded into a Schema. But marshmallow-jsonapi expects the data to be in a very specific arrangement.
To work around this I did something like this:

[code]

[2016-02-16 01:48] kdart opened #35 "Example for flask doesn't return the right content-type for JSON API"
The jsonify function in Flask, that the example uses, puts in a mime type of "application/json". But the JSON API spec says it should be "application/vnd.api+json".  So it needs a custom response object.

[2016-02-16 04:38] #35 closed, assigned to nobody

[2016-02-16 04:38] sloria commented on #35
Good catch. Fixed the example.

[2016-02-18 18:56] jo-tham opened #36 "resolve self_url from flask view name"
thanks to @asteinlein, [pr 19](https://github.com/marshmallow-code/marshmallow-jsonapi/pull/19/files) introduced self_url to the schema via `Schema` `Meta`

[code]

it would be nice to be able to use route names to avoid hard-coding these urls, in the manner that relationship fields operate.

[code]

but how to introduce this to the `Schema` without introducing flask dependency.

perhaps on a case

[2016-02-25 10:13] allistercsmith commented on #28
I am looking at adding something to allow for arbitrary top-level meta objects, not just fields set on the schema and/or model.

My main driver is for something like extra pagination information. There's no rule in the spec about where to place things such as offsets, limits and counts, so it makes sense to put these in the meta object. There's actually an example of this in the extensions section

[2016-02-26 16:17] rubdos commented on #28
I guess that's the better implementation indeed, but keep in mind that you could be making it overly complicated. I don't really know if you _would_ though, as I didn't dive very deep into the code.

IIRC, this implementation isn't feature complete yet, so any patch would be great. I found this library very useful as a base for an API.

I have actually no idea, it's been too long (only a month, I'

[2016-03-04 14:15] Rdbaker opened #38 "Collection of entities"
On the landing page of [jsonapi.org](http://jsonapi.org/) they specify what to return for a collection of entities (a `data` array with all entities inside). Is this something that's already implemented that I just completely missed the docs on?

If this isn't currently being worked on, how can I help to get this accomplished?

[2016-03-04 17:44] jo-tham commented on #38
@Rdbaker  yes i don't see any examples in the docs, the [http://marshmallow.readthedocs.org/en/latest/examples.html?highlight=dump#quotes-api-flask-sqlalchemy](marshmallow) docs are a bit better for this

here's an example. it'd be tremendous if you add something to the docs and make a PR :)

[code]

[2016-03-10 22:00] jfinkels commented on #3
This is relevant to me. I'm the maintainer of [Flask-Restless](https://github.com/jfinkels/flask-restless) and I'd like to put together an example server configuration that uses marshmallow-jsonapi with marshmallow-sqlalchemy.

[2016-03-11 18:21] cmanallen commented on #34
@erickt Serializing and deserializing foreign keys is supported as of `0.5.0`.  You can set the `attribute` kwarg to `server_id`.

[2016-03-11 18:24] Rdbaker commented on #38
ok, reading a bit deeper through the repo it looks like it's a transparent pass to the marshmallow library call.. meaning that this questions is actually answered [here](http://marshmallow.readthedocs.org/en/latest/quickstart.html#handling-collections-of-objects).

Maybe the docs should have an FAQ section or something like that so people don't have to dig through the source. I'm happy to add that

[2016-03-11 21:42] jo-tham commented on #38
how about under [quick start - serialization](http://marshmallow-jsonapi.readthedocs.org/en/latest/quickstart.html#serialization) alongside the example of serializing a single object?

https://raw.githubusercontent.com/marshmallow-code/marshmallow-jsonapi/dev/docs/quickstart.rst

[2016-03-21 21:03] Dr-ZeeD opened #42 "Schema without attributes can not be deserialized due to missing attributes key."
When I define my schema

[code]

and then try to load it like this

[code]

I get the following error:

[code]

I do, however, not find any specification in JSON API saying that the `attributes` key has to be present.

Here is a full example:

[code]

[2016-03-22 00:47] rgant commented on #42
This is also a problem for me trying to write endpoints for relationships which don't have attributes.

http://jsonapi.org/format/#document-resource-object-relationships

It's also a problem that unwrap_data doesn't load the id from the item which is the important part of the data for relationships.

[2016-03-22 13:32] rgant commented on #42
I've overwritten the unwrap_item function for my `RelationshipSchema`s to work with Schemas that don't have attributes and need to know the IDs. @ZeeD26 I think this would work for your situation (I'm using python3, if you aren't you will need to convert the `super` to python2):

[code]

You might want to change your id to a String as JSON API says that all ids should be strings: http://jsonapi.or

[2016-03-22 13:48] Dr-ZeeD commented on #42
Thank you @rgant for this workaround. Looking at the current implementation of `unwrap_item` it seems that an empty dictionary is already implemented as a fallback option in case the `attribute` key does not exist. All it would take is to delete the statement checking whether `attributes` is in the item.

[code]

Regarding the id: Considering there are some people (at least me) who want to use thi

[2016-03-22 14:11] rgant commented on #42
I guess you could do something like:

[code]

I haven't tested that.

I think the rational is:
1. URLs are strings
2. UUIDs are neat
3. Some people think that sequential ids are bad: http://blogs.perl.org/users/ovid/2014/11/stop-putting-auto-increment-ids-in-urls.html

[2016-03-22 14:17] Dr-ZeeD commented on #42
Thank you once again!
But considering marshmallow and all its plugins try to be as agnostic as possible I would still like to see some "automagic" happen by default.

The article you link to makes a nice point – eventually I want to use slugs for the urls so I should be fine, but I'll keep it in mind for further projects :)

[2016-03-22 14:24] rgant commented on #42
Well, I'll be. Maybe this is what you are looking for: `as_string`.

http://marshmallow.readthedocs.org/en/latest/api_reference.html#marshmallow.fields.Number

[2016-03-22 20:52] cmanallen commented on #42
I addressed this as part of the bulk request pull [1].
1. https://github.com/marshmallow-code/marshmallow-jsonapi/pull/39/files#diff-b7695ff9c3cc7a719a2b771764c10302L108

[2016-03-23 06:56] Dr-ZeeD commented on #42
Ah, I'm sorry for not seeing your pull request -- should I leave this issue open until it is pulled and merged?

[2016-03-23 13:47] cmanallen commented on #42
@ZeeD26 I would leave it up.  If the pull isn't merged its good to have the issue still open so the author knows it is a desired feature.

[2016-03-25 06:33] #42 closed, assigned to nobody

[2016-03-25 16:50] Dr-ZeeD opened #43 "Format ValidationError due to missing type key as if it was any other error."
While the IncorrectTypeError gets formatted according to JSONAPI, the ValidationError raised due to a missing `type` key is not. I think it would be more appropriate to format this according to the JSONAPI error specifications as well, wouldn't it?

[2016-04-02 19:51] #43 closed, assigned to nobody

[2016-04-17 13:37] sloria commented on #36
This is already supported using `marshmallow_json.flask.Relationship`.

[2016-04-19 22:56] BillBrower opened #45 "Relationships aren't being serialized"
I'm having trouble getting my Schemas to dump Relationships when many=True is specified.
For example, I have a ListingReportSchema that has listings as a relationship field and although that relationship gets included for singular ListingReport objects it doesn't get included when many is set to True. Looking through the source code it seemed like setting include_data=('listings',) would fix the p

[2016-04-26 20:16] deckar01 opened #46 "[Feature] List field with nested schema is too verbose"
`fields.List(fields.Nested(CustomSchema))` is not very readable.

Consider supporting list fields constructed directly from `Schema` classes:
- `fields.List(CustomSchema)`

Consider exposing a convenience wrapper:
- `fields.NestedList(CustomSchema)`

[2016-04-26 20:22] deckar01 commented on #46
Actually this may not make sense consider all the parameters that both `Nested` and `List` inherited from `Field` would collide.

[2016-04-26 20:22] #46 closed, assigned to nobody

[2016-04-29 18:33] deckar01 commented on #12
I expected `apispec` to "just work", but I ended up with docs representing a simplified marshmallow schema definition instead of docs matching the serialized jsonapi-structured data.

It seems like implementing the jsonapi spec by composing `marshmallow_jsonapi` out of pure marshmallow fields and schemas would remove the need for `@pre/post_*` glue.

I image that the implementation will involve tr

[2016-05-08 18:44] Dr-ZeeD opened #48 "Throw error when `id` field is an integer?"
When a model requires the use of integer based IDs the behavior desired by JSON API is to use strings anyway. Thus I use the `as_string` option in my schema definition. For dumping data everything works like a charm, also for loading -- except for an edge case: If the client sends a resource object with an integer ID marshmallow is smart enough to deal with this -- but JSON API requires the use of

[2016-05-17 06:42] ghost commented on #11
see PR #40

[2016-05-29 23:23] sloria commented on #48
You can pass a dictionary to `ValidationError` containing the correct pointer:

[code]

[2016-05-30 09:30] Dr-ZeeD commented on #48
Unfortunately this does not seem to work, the result I get is

[code]

[2016-06-05 11:59] Dr-ZeeD commented on #3
How would one use marshmallow-jsonapi together with flask-marshmallow and marshmallow-sqlalchemy? I seem to always get this error:

[code]

[2016-06-23 16:33] asteinlein opened #50 "marshmallow in dev-requirements.txt"
Shouldn't marshmallow itself be in `dev-requirements.txt`? I set up a fresh development environment according to the contributing guidelines, but that doesn't give me marshmallow which makes the tests fail.

I'll happily provide the PR to either update the guidelines or add the requirement, but I'm just unsure what the intention is.

[2016-06-24 19:51] asteinlein commented on #36
I'm back on the project where we're using marshmallow-jsonapi, so I figured I might as well fix this while I'm at it. Relationships have supported resolving URLs from views for a while, but not self links in the Meta options.

PR #51 implements this. New options `self_view`, `self_view_kwargs` and `self_view_many` were added to a Flask-specific schema, instead of changing the behavior of `self_url

[2016-07-13 19:22] scottwernervt opened #52 "Dasherized relationship names are marked as an attribute for validation errors."
Validation errors, e.g. `validate=[<marshmallow-available-valdiator>, <raise ValidationError>]` for a relationship sets the error source pointer path as an attribute instead of relationship. This issue occurs when you use `inflect = dasherize`.

**Bug**
`{'pointer': '/data/attributes/article-author'}`

**Expected**
`{'pointer': '/data/relationships/article-author/data'`

**Workaround**
For the rel

[2016-08-01 16:18] #45 closed, assigned to nobody

[2016-10-09 14:22] sloria commented on #50
Marshmallow is specified as a dependency of this package in `setup.py`, so it will get installed when you run

[code]

which is documented in the contributing guidelines.

[2016-10-09 14:22] #50 closed, assigned to nobody

[2016-10-09 14:24] sloria commented on #36
This is in the 0.9.0. Thanks again @asteinlein !

[2016-10-09 14:24] #36 closed, assigned to nobody

[2016-10-22 21:29] aholik opened #53 "Relationship field `id` serialization and linkage"
I use [hashids](http://hashids.org/) to encode ID values when serializing objects. The most straightforward way to doing this seemed to me to declare ID field using `fields.Method`. However when serializing a `Relationship` field then it picks up ID value straight from the source object instead of obtaining it through the schema`s ID field.

Example code:

[code]

I would expect that `relationship

[2016-11-04 19:24] DavidUnzue commented on #18
@rgant could you show how you integrated your custom parser with flask-restful's api?
How do you   tell `@use_args(UserSchema())` to use `JsonApiParser`?

[2016-11-04 20:41] rgant commented on #18
@DavidUnzue I don't actually use `use_args` however that decorator is part of the base class for [`webargs.flaskparser.FlaskParser`](https://github.com/sloria/webargs/blob/dev/webargs/core.py#L390)

So you could use it via `@JsonApiParser.use_args` I believe. I haven't tried that.

[2016-11-06 22:07] DavidUnzue commented on #18
Yes, that worked:

[code]

I noticed though, that the syntax for the `JsonApiParser` class is Python 3. For those using Python 2.7, change `super()` to `super(JsonApiParser, self)`.

[2016-11-11 06:35] hirecom opened #54 "Specifying fields breaks relationship serialization"
I have a schema with a many-to-one relationship, like below.
[code]
It serializes to JSON correctly when the query is basic query like below

notices = Notice.query
result = NoticeSchema(many=True, include_data=('author',), partial=True).dump(notices)

However, adding a field like Notice.query.add_column(...) does not work and loses the author relationship.

How do I use custom fields like doing a

[2016-11-11 07:00] #54 closed, assigned to nobody

[2016-12-12 21:31] jannis-a opened #55 "How to include deep nested resources?"
Hi folks,
I'm currently working on project and using marshmallow-jsonapi. According to [this](https://github.com/marshmallow-code/marshmallow-jsonapi/commit/1bb97af81cf975f54f7d6b851b5e3ffb28d0105f) commit deep nested relations can be included. Does this also include ForeignKeys to a model?

Now I want to serialize a Video, it's relating user, the comments **and** the users for comments. Everythin

[2017-01-03 01:14] RazerM commented on #11
This can be closed.

[2017-01-03 01:24] RazerM commented on #48
@ZeeD26, @sloria said "pass a dictionary" but looks like they accidentally put it in a list in their example. This works:

[code]

[2017-01-05 11:10] sloria commented on #28
Closed by #56

[2017-01-05 11:10] #28 closed, assigned to nobody

[2017-01-06 20:07] jjb122 commented on #3
I've been struggling for the last few days now to get these three libraries working together, and continually get issues like the one @ZeeD26 mentioned above, and some others regarding Schemas - Seems like the ModelSchema in flask-marshmallow and Schema class in Marshmallow-JsonAPI don't quite integrate together when I have a subclass that inherits from both of these classes. Anyway, any sort of d

[2017-01-15 17:36] RazerM opened #57 "Resource identifiers and relationships"
Currently, marshmallow-jsonapi doesn't have a way to easily generate [resource identifier objects][rio], typically used for relationship requests.

# Example
## Fetch resource

[code]

[code]

## Fetch relationship

This request isn't possible directly using marshmallow-jsonapi:

[code]

[code]

I've been trying to think of a nice API to do this, and came up with the following:

[code]

Setting `r

[2017-01-19 18:04] rgant opened #58 "Schema.dump(None) Should Follow JSONAPI Spec"
According to the [JSONAPI Spec](http://jsonapi.org/format/#document-top-level):

And when [fetching empty relationships](http://jsonapi.org/format/#fetching-relationships-responses-200) you must return a 200 with a `null` or `[]` for the data key.

In this example we don't properly follow the spec:
[code]

Further there is an issue with self links and None or [] objects:
[code]
(Same is true for `

[2017-01-19 20:19] rgant commented on #58
I've completed my changes and submitted a pull request. One day maybe github will allow me to use an existing Issue as a pull request so there aren't duplicates.

[2017-01-30 10:41] jannis-a commented on #55
I made a PR #61 which would implement this.

[2017-01-30 11:32] jannis-a commented on #53
`python
self_url_kwargs = { 'id': '<id>' }`

The '<id>' indicates to pull the attribute named "id" from the instance. I'm not sure if you can pass the method to self_url_kwargs.

One way you could go is defining that serialize_id method on your model (the model then needs the type_ information) and another method on your schema which then calls the model method. Maybe there's a better approach. :)

[2017-01-31 15:50] ghost opened #62 "Drop top level links container when self_url is empty"
This line seems to always evaluate to True: https://github.com/marshmallow-code/marshmallow-jsonapi/blob/dev/marshmallow_jsonapi/schema.py#L317. In the `many` case with `self_url_many` beeing *not set*, I exepect that the top level link is dropped like so:
[code]

[2017-01-31 17:59] rgant commented on #62
@cudos I've provided a fix for this issue in #60:

https://github.com/marshmallow-code/marshmallow-jsonapi/pull/60/commits/b9a1c0b1b8a7018942ce0d78ddcf6528d60d530d

[2017-02-05 17:02] #58 closed, assigned to nobody

[2017-02-16 16:57] lukeorland opened #63 "flask_example.py /posts/1/comments relationship is broken."
The response to `GET http://127.0.0.1:5000/posts/1` is

[code]

Then following the comments relationship with `GET http://127.0.0.1:5000/posts/1/comments/`,

There is a server error:

[code]

[2017-02-25 09:58] jordal opened #65 "Serializing between JSON-API and regular marshmallow representations"
I have a use case that requires translating an object between JSON-API format (frontend) and vanilla JSON (backend). Since the underlying field structure and field formats are the same, what's the best way to handle this?

I usually avoid multiple inheritance, but I thought it might be possible to subclass a vanilla marshmallow Schema class. Here's an example:

    from marshmallow import fields,

[2017-03-06 03:26] lycplus commented on #65
I have the same problem. I want to integrate marshmallow-mongoengine and marshmallow-jsonapi, it seems using metaclass or inheritance makes it difficult for such thing.

[2017-03-07 20:35] danpoland opened #67 "Compound documents fail when the Relationship's schema is a class reference and many=True"
When the schema argument to the Relationship field is a class reference and many=True, the schema property on the Relationship instance incorrectly initializes the schema class with many=True.   It does not need to be set at all. The `_serialize` method iterates over each item in the included_data. This bug causes a TypeError to be thrown because the object being serialized is not an iterable.

I

[2017-03-08 07:09] jordal opened #69 "Relationship field serializes entire related object data as a string when specifying an attribute for the id field"
When using a Relationship to serialize a compound document, if the related Schema specifies an attribute name for the id field, the related data object is wrong (it serializes the whole object as a string).

Here's an example of the happy case, which works perfectly well:

[code]

Now if you only change the `AuthorSchema` and the input data, as follows, then the relationship data object is toast:

[2017-03-08 13:14] sloria commented on #69
Thanks @jordal for reporting. I would gladly review and merge a PR addressing this bug.

[2017-03-09 01:53] #67 closed, assigned to nobody

[2017-03-10 16:14] jasonmotylinski opened #70 "Dependency error with Marshmallow>=2.3.0"
We ran into a weird issue when using marshmallow-jsonapi pulling in an incompatible version of marshmallow. In setup.py marshmallow-jsonapi requires marshmallow>=2.3.0. We found that this was pulling in the recently released 3.0 release of marshmallow, which is not compatible with marshmallow-jsoonapi.

To fix the issue we added a hard dependency on marshmallow==2.13.0 to our requirements.txt.

Ca

[2017-03-10 17:00] sloria commented on #70
Thanks for reporting, and sorry for the inconvenience.

If I were to guess, this is actually an incompatibility with the changes 2.13.2, which was just released: https://github.com/marshmallow-code/marshmallow/issues/597 . We're working to resolve the issue. For now, pinning to 2.13.0 or 2.13.1 should work with marshmallow-jsonapi.

[2017-03-10 17:00] #70 closed, assigned to nobody

[2017-03-13 00:38] sloria commented on #70
@jasonmotylinski FYI, marshmallow-jsonapi has been updated for compatibility with marshmallow 3.x.

[2017-03-23 06:09] pgpbpadilla opened #71 "Absolute links in included relationship data"
Hi, I've been struggling to make the following work:

[code]

## Serializing a comment

This works as expected since I can pass the prefix to `CommentSchema` directly.

[code]

The resulting dictionary contains a `links` attribute with my custom links:

[code]

## Serializing a compound document
However when serializing a compound document:

[code]

the resulting `included` shows the links prefixe

[2017-03-23 13:35] danpoland commented on #34
You still might run into an issue where you want to allow includes to follow the relationship when there is a `include=my_relation` query string in the request but the rest of the time you just want to use the foreign key. I have a solution for this problem that I will eventually PR.

[2017-03-23 15:13] danpoland opened #72 "Support "link objects""
From http://jsonapi.org/format/#document-links:

### Each member of a links object is a “link”. A link MUST be represented as either:

- a containing the link’s URL.
- an object (“link object”) which can contain the following members:
href: a string containing the link’s URL.
meta: a meta object containing non-standard meta-information about the link.

Currently the library supports the first opti

[2017-04-02 15:26] #55 closed, assigned to nobody

[2017-04-05 14:03] danpoland opened #76 "Schema.format_error incorrectly checks if index is falsely, when 0 (zero) is a valid index"
Schema.format_error incorrectly checks if index is falsely, when 0 (zero) is a valid index and should be used when formatting the pointer.

[2017-04-05 14:11] sloria commented on #76
Thanks @danpoland for reporting. I would gladly review and merge a fix for this.

[2017-04-05 14:33] danpoland commented on #76
https://github.com/marshmallow-code/marshmallow-jsonapi/pull/77

[2017-04-12 08:30] krypttr opened #78 "How to fetch only the relationship?"
Is it possible to fetch the relationship data as described in http://jsonapi.org/format/#fetching-relationships

    schema = StuffSchema(only=("user", "id"))

 is not compliant with the above specification.

[2017-04-13 13:43] BillBrower opened #79 "include_data is always set to False for Relationship fields."
It's not possible to set include_data to True via the constructor.

[code]

should be

[code]

[2017-04-14 16:16] sloria commented on #79
`include_data` is not meant to be public API, so it isn't a constructor param.

[2017-04-14 16:16] #79 closed, assigned to nobody

[2017-04-14 17:49] BillBrower commented on #79
@sloria So there is no way to have marshmallow-jsonapi serialize relationships and include them in `included` like this?

[code]

[2017-04-15 21:14] sloria commented on #79
`include_data` is meant to be passed to the `Schema` constructor, not a `Relationship` field. See https://marshmallow-jsonapi.readthedocs.io/en/latest/quickstart.html#compound-documents

[2017-05-01 02:18] #53 closed, assigned to nobody

[2017-05-02 15:49] #76 closed, assigned to nobody

[2017-05-02 16:24] danpoland commented on #34
The related PR: https://github.com/marshmallow-code/marshmallow-jsonapi/pull/82

[2017-05-15 15:29] altaiezior opened #83 "How to deserialize included_data"
I am using marshmallow_jsonapi on python client side where I was expecting to make the schemas and deserialize the returned response in python objects. I was able to do so successfully but when the response comes up with included data, the deserialization ignores the included key.

[2017-06-26 13:58] asteinlein commented on #83
We needed this as well, so I've provided a PR with an implementation. Please try out #85. We're using this in production of our app now, but would be nice to get some more uses of it and hopefully get it into a release soon.

[2017-06-27 09:22] altaiezior commented on #83
@asteinlein Thanks for the PR, I have made my own implementation by now. But surely I will have a look at this.

[2017-06-28 02:31] #83 closed, assigned to nobody

[2017-07-03 12:39] altaiezior commented on #83
Hello @asteinlein, I tried the new version of marshmallow-jsonapi with this patch and the solutions work great. It would be awesome if it could recursively include data.

Like I have a use case where, I am including ``a, a.b, a.c``. My API returns all the data to be included but deserailiszation logic only includes data of ``a``.

[2017-07-11 11:45] asteinlein commented on #83
Hi! IIRC, I think it should "just work", provided that both the relationships and the included data specifies the same type.

Included data doesn't have any hierarchy, but is a plain list of objects which may be of different types. The deserialization of included data looks at the relationships, and based on their types and IDs, tries to find them in the included data. I would think it does this a

[2017-07-12 14:05] thorbjornwolf opened #86 "Docs: Define `article` in quickstart examples"
The quickstart section of the docs ([readthedocs](http://marshmallow-jsonapi.readthedocs.io/en/latest/quickstart.html#serialization) and [in the repo](https://github.com/marshmallow-code/marshmallow-jsonapi/blob/dev/docs/quickstart.rst#serialization)) show some neat examples using an undefined object named `article`.

For clarity (and so I'm sure I understand what is going on), it would be nice to

[2017-07-12 18:22] michaelgodshall opened #87 "How to apply a database filter to an included relationship?"
My include api request looks like this: `http://127.0.0.1:5000/api/products?include=favorites`

It's working correctly and includes favorites for products in the payload.  However, I'd like to only include favorites for products that the current user has favorited.  Where is the right place to set this up?  I've looked through the source code quite a bit and can't seem to find the right way to fil

[2017-07-12 20:53] scottwernervt commented on #87
I would setup a [many to many relationship](http://docs.sqlalchemy.org/en/latest/orm/basic_relationships.html#many-to-many) between user and products to track favorites. SQLAlchemy will handle the logic and allow you to easily iterate, add, and remove from `user.favorites`. Note: I use an endpoint `/api/user/me` to handle all requests related to the current user.

[code]

Next, add the `favorites`

[2017-07-27 17:33] rgant commented on #62
#60 is merged, so this can probably be closed.

[2017-08-01 18:55] robneville73 opened #89 "Doesn't seem to support using vanilla fields.Nested"
According to the JSON-API spec,
"Attributes may contain any valid JSON value.

Complex data structures involving JSON objects and arrays are allowed as attribute values"

So I should be able to do:
[code]

marshmallow supports this concept fine via Nested fields however marshmallow_jsonapi appears to ignore Nested fields when serializing.

[2017-08-01 20:05] rgant commented on #3
I've documented my implementation of integrating marshmallow-jsonapi and marshmallow-sqlalchemy:
https://github.com/rgant/saas-api-boilerplate/blob/master/ourmarshmallow/README.md

I have decent test coverage and am not seeing any issues like @ZeeD26 or @jjb122 were. I've used a previous version of this for more than a year with great success.

The problem is that it required a number of assumptio

[2017-09-02 01:06] RazerM opened #92 "Attribute inspection"
Would a PR be accepted that pulled out part of this code:

https://github.com/marshmallow-code/marshmallow-jsonapi/blob/d3ef934cc419d5208e37503752214934b3a98260/marshmallow_jsonapi/schema.py#L320-L341

into a separate function? Specifically, the part that creates a map of JSONAPI attributes to Marshmallow fields?

The use case I have in mind is being able to tell which attributes I'll end up with

[2017-09-12 07:11] altaiezior opened #93 "Relationship deserialization when include_resource_linkage is False"
If `include_resource_linkage` = `False` while specifying a relationship, I will not get data field in the output on serialisation (only link).

Now if I am working on `strict` = `True` and I try to deserialize the serialized object, I will run into an error which will say that the `data` fields from my relationships are missing.

If not working in strict mode, this works but I am not sure if this

[2017-09-21 10:09] altaiezior commented on #34
Thanks @danpoland for #82 but it runs into issues when writing data. Also there is no way to handle one-to-many relationships.

How I usually design my schemas is to set ``include_resource_linkage`` to ``True`` in case of ``to-one`` relationships and ``False`` in case of ``to-many`` relationships. In ``to-many`` case I would like to just put the links for the user to fetch resources when needed.

[2017-10-27 00:45] aschatten opened #95 "Serializing a collection of objects with top level meta object"
JSON API allows adding a top level meta object: http://jsonapi.org/format/#document-meta
[code]
Is there a way to do it in `marshmallow-jsonapi`? It seems like it's only allows to have a `meta` in Resource Objects.

[2017-11-08 22:43] #78 closed, assigned to nobody

[2017-11-11 08:09] CaptObvious opened #96 "Pagination links?"
I see that the [JSONAPI Spec](http://jsonapi.org/format/#fetching-pagination) mentions pagination and that the URLs for first, last, next and prev must appear in the links object but I can't see any way to do that at serialization time with marshmallow-jsonapi.  Is this possible at the moment?

[2017-11-18 18:55] redlamb commented on #95
I just ran into this same issue and it does not appear to be supported out of the box. I solved it by extending ```marshmallow_jsonapi.Scheme``` and using a [context](http://marshmallow.readthedocs.io/en/latest/extending.html#using-context).

While I have yet to have a need to add links to the top-level object, this also addresses #96. However, note that this will clobber any automated links if th

[2018-02-27 21:12] melificent-wolf opened #97 "Breaking change to load() in marshmallow 3.0.0b7"
http://marshmallow.readthedocs.io/en/latest/upgrading.html#schemas-are-always-strict

"Schema().load and Schema().dump don’t return a (data, errors) duple any more. Only data is returned."

This results in a traceback similar to the following:

[code]

I did attempt to modify `_do_load()` to only use `errors`, not `result`, but then I got another traceback when it tried to validate a boolean field

[2018-03-09 22:08] scottwernervt commented on #95
@aschatten You can now use `fields.Meta()` (#56):

[code]

[2018-03-09 22:08] #95 closed, assigned to nobody

[2018-03-09 23:31] scottwernervt commented on #96
@CaptObvious I am currently using the following code to handle pagination. I am using sanic web framework which is why I pass `request` into the `paginate_dump` method.

I borrowed the `Pagination` object from `flask-sqlalchemy` and added a `metadata` property to it.

[code]

I create a `BaseSchema` which all my schema's inherit from. This class has the pagination logic on it.

[code]

[2018-03-20 10:58] swistakm commented on #95
@scottwernervt unfortunately this isn't a solution to the problem, as `meta` field should be a top-level property so it should be:
[code]
Instead of:
[code]

[2018-03-20 16:25] scottwernervt commented on #97
Upgrading to [marshmallow 3.0](https://marshmallow.readthedocs.io/en/3.0.0b1/upgrading.html#upgrading):

- [ ] Python 2.6 and 3.3 are no longer supported.
- [ ] Schemas are always strict
- [ ] Schema().load(None) raises a ValidationError
- [ ] Overriding get_attribute
- [ ] utils.get_func_args no longer returns bound arguments
- [ ] Handling AttributeError in Method and Function fields
- [ ] Addin

[2018-03-20 16:50] scottwernervt commented on #97
@rockmnew I am currently using this work around. Make sure `strict = True` in `class Meta`.

    from marshmallow import Schema
    from marshmallow_jsonapi.schema import Schema as DefaultSchema

    class BaseSchema(DefaultSchema):
        def _do_load(self, data, many=None, **kwargs):
            """Override `marshmallow.Schema._do_load` for custom JSON API handling.

            Specifically, w

[2018-03-22 07:47] FelixEnescu opened #99 "How to optimize deep includes"
Hi

We are using marshmallow-jsonapi with SQLAlchemy and we have few cases where we need to retrieve a groups of objects involving some deep includes. One such example is

GET /v3/portfolios/672/investments?fields[accounts]=name&fields[files]=url&fields[indicators]=name&fields[investment_invitations]=organization&fields[reports]=name,stage,status&fields[results]=forecast_current&filter[allocations

[2018-03-22 15:49] scottwernervt commented on #99
Are your model relationships being lazy loaded? The queries will not fire until marshmallow-jsonapi accesses the model attribute/relationship belonging to it. If you are constantly accessing the same relationships on a request, it would make sense to load the relationships with the parent.

1. Get a [benchmark](http://docs.sqlalchemy.org/en/latest/faq/performance.html) for each include relationshi

[2018-03-30 13:43] FelixEnescu commented on #99
Thanks a lot, very helpful.

[2018-04-01 21:19] sloria commented on #97
Just FYI: I have a [WIP PR](https://github.com/marshmallow-code/marshmallow-jsonapi/pull/100) that will bring this project up to date with marshmallow 3.

[2018-04-10 14:39] scottwernervt commented on #5
@Leo-G See https://marshmallow.readthedocs.io/en/latest/quickstart.html#ordering-output.

[2018-04-10 15:39] scottwernervt commented on #5
Thought this was working but it is not, we need to pass `ordered` argument to `SchemaOpts`. I can work on a pull request when the marshmallow 3.0 changes are finalized.

[2018-04-16 16:56] davidwneary commented on #89
I think this can be done atm, by simply using a normal marshmallow schema for the nested bit:
[code]

[2018-04-26 23:45] mdodsworth opened #101 "fix "only" with Relationship fields using marshmallow 2.15.1"
This change made in Marshmallow 2.15.1 changes behaviour when the caller is passing through `only=()`:

https://github.com/marshmallow-code/marshmallow/commit/98f2b4759c9a7c7ac5e790727d47f2b328520713#diff-035365c88325ed9779fcb020f7bcb35a

Previously, `only=()` essentially meant no filtering is applied; after the change, `only=()` results in *all* fields being filtered.

Here, we're defaulting the

[2018-04-27 21:43] rgant commented on #101
The change in marshmallow-code/marshmallow#772 broke my environment as well. Thanks @mdodsworth this fixed the issue in all of my test cases.

[2018-04-29 12:27] #101 closed, assigned to nobody

[2018-04-29 13:17] #97 closed, assigned to nobody

[2018-05-01 13:53] twillis commented on #34
not using flask, and i'm experiencing relationships getting accessed when they are not in `include_data` and include_data=False on the relationship property.

debugging through the source i dont see anything obvious that it's looking for it seems like it delegates off to marshmallow pretty quickly. Any ideas?

[2018-05-01 20:37] rgant commented on #95
meta doesn't have to be top level, [it can also be part of a Resource Object](http://jsonapi.org/format/#document-resource-objects):

[2018-05-01 23:11] swistakm commented on #95
@rgant good point about the spec. I was probably too much focused on typical uses for such "meta" objects in most APIs I've seen so fat.

So we have at least two kinds of meta in spec:
1. document-level meta (top-level key): it can be used to provide information specific for whole request/response like debug information, total count of documents for multiple resource responses, copyright/authors (

[2018-05-01 23:24] rgant commented on #95
For me I need to have document level for the case where primary data is a list of resource objects (an array) I want to have specific meta information for each document, not the request as a whole.

[code]

I have been playing around with how to address this issue, but trying to create a generic solution that doesn't re-write all the Meta field work is hard. For me I want to have anything read-onl

[2018-05-02 15:08] rgant opened #107 "Document vs Root Meta Information"
In my project I was making use of the Meta field type to include resource object level meta information about the object. This was especially important when the primary data was a list of resource objects.

[code]

#95 broke my build and makes it impossible to include specific meta data about a resource object in the serialized data. I understand that there is a need for both types of meta informa

[2018-05-02 16:56] scottwernervt commented on #95
We could definitely support `document-level meta` and `resource-level meta` by bringing back the old code with the pull request. Would an option like `'is_resource` on the `Meta` field acceptable? Another option would be to have two separate fields: `MetaResource` and `MetaDocument`.

[code]

[2018-05-02 20:23] rgant commented on #95
I was playing with doing that, however I found that deserializing the data need a bunch of changes to `_META_LOAD_FROM` logic. It wasn't designed with the idea of two Meta fields.

Might want to continue this conversation in #107

[2018-05-17 02:49] #107 closed, assigned to scottwernervt

[2018-05-17 22:36] #99 closed, assigned to nobody

[2018-05-17 22:39] #89 closed, assigned to nobody

[2018-05-17 22:41] sloria commented on #34
See the approach suggested here for optimizing loading of relationships: https://github.com/marshmallow-code/marshmallow-jsonapi/issues/99#issuecomment-375355872

[2018-05-17 22:41] #34 closed, assigned to nobody

[2018-05-19 19:25] twillis commented on #34
@sloria actually the approach I took similar to @anuragagarwal561994 above for flask...

[code]

[2018-05-27 20:47] #96 closed, assigned to nobody

[2018-05-27 20:48] sloria commented on #1
Closing for now. I would welcome a PR if someone wanted to pick this up, but it's not a priority for us right now.

[2018-05-27 20:48] #1 closed

[2018-05-27 20:51] #11 closed, assigned to nobody

[2018-05-30 15:44] arnold-iakab opened #120 "Validation errors for nested fields are not formatted properly"
[code]
This will be printed:
[code]
This is what I wished for:
[code]
Is there a possibility for the desired output to happen?

[2018-05-30 20:24] scottwernervt commented on #71
You can pass the `prefix` in the [schema's context attribute](https://marshmallow.readthedocs.io/en/latest/extending.html#using-context). The relationship field inherits the context from the parent schema which was fixed in `marshmallow-jsonapi==0.19.0`.

[code]

[code]

[2018-05-30 23:09] scottwernervt commented on #69
@jordal Use the Relationship's `id_field` parameter as a work around:

[code]

[code]

I will work on a pull request.

[2018-05-31 15:38] #87 closed, assigned to nobody

[2018-05-31 19:36] scottwernervt commented on #62
#60

[2018-05-31 19:36] #62 closed, assigned to nobody

[2018-05-31 20:34] scottwernervt commented on #9
For CRUD updating, use the [partial loading](https://marshmallow.readthedocs.io/en/latest/quickstart.html#partial-loading),

[code]

[2018-05-31 20:34] #9 closed

[2018-05-31 20:50] scottwernervt commented on #48
There is a related discussion on the pull request marshmallow-code/marshmallow#755.

[2018-05-31 20:50] #48 closed, assigned to nobody

[2018-06-10 01:50] #63 closed, assigned to scottwernervt

[2018-06-10 14:14] #69 closed, assigned to scottwernervt

[2018-06-10 14:29] sloria commented on #86
This was fixed in https://github.com/marshmallow-code/marshmallow-jsonapi/pull/122

[2018-06-10 14:29] #86 closed, assigned to scottwernervt

[2018-06-12 15:28] Battlesheepu opened #127 "Multi-level relationhips objects deserialized as their IDs (instead of the complete data)"
Hi folks, I hope you're doing well.

I come here with a problem regarding multi-level nested relationships. Consider the following code:

[code]

When you run the above code, you'll receive the following (**and, I think, a very correct one**!) result:

[code]

This shows that Marshmallow-Jsonapi has no problems when serializing multiple-level relationships.

However, **loading the dumped object**

[2018-06-20 20:35] kumy opened #130 "Relationship fail to deserialize missing value"
While upgrading our dependency from 0.16.0 to 0.20.0, we got a new stack trace

[code]

Posted data are:
[code]

[2018-06-20 20:38] kumy commented on #130
Please see PR #131

[2018-07-03 23:55] anthony-arnold opened #133 "Confusion around the type for included data."
There seems to be a little confusion around the correct type for included data.

To quote the JSON API spec:

In [`marshmalllow_jsonapi.schema.Schema.__init__`](https://github.com/marshmallow-code/marshmallow-jsonapi/blob/dev/marshmallow_jsonapi/schema.py#L96), the `included_data` member is initialised as a dict.

In [`_do_load`](https://github.com/marshmallow-code/marshmallow-jsonapi/blob/dev/mar

[2018-07-04 01:47] anthony-arnold commented on #133
OK, with a little more investigation it seems that during `dump`, `included_data` is expected by fields to be a dict keyed by an (id,type) tuple.

During `load`, `included_data` takes the value from the input `data['included']`, which will be a list if it's a compliant JSON API document; which is good because `_extract_from_included` is expecting it to be a list.

The main problem arises when you

[2018-07-15 21:55] #130 closed, assigned to nobody

[2018-07-23 19:28] rgant commented on #3
@sloria I'm a bit hesitant to just add my one-true-way of integrating marshmallow-jsonapi and marshmallow-sqlalchemy to the documentation here without oversight and review. Interest was expressed in my repo, and I'm about to start doing JSONAPI/SQLAlchemy python API development again soon. So I think in a month or so I would be in a good position to polish up my methods for general use.

[2018-08-08 20:41] grantHarris opened #148 "Passing something that isn't a dict (like None) into load causes an unhandled exception"
Passing something that isn't a dict into load or validate causes an unhandled AttributeError.

`AttributeError: 'NoneType' object has no attribute 'get'`

The library should handle this and raise a proper validation error instead.

[2018-08-09 00:12] sloria opened #149 "Fix compatibility with marshmallow 3.0.0b13"
Tests are currently failing when marshmallow 3.0.0b13 is installed.

[2018-08-09 12:15] sloria commented on #148
@grantHarris What version of marshmallow are you using? marshmallow 3.0.0 (beta) changed the behavior for loading `None` so that it raises a `ValidationError`.

[2018-08-09 16:19] grantHarris commented on #148
2.15.3

[2018-08-09 21:17] sloria commented on #148
Ah ok. This is a known issue with marshmallow 2 (https://github.com/marshmallow-code/marshmallow/issues/511), so there's nothing to be done in this project.

[2018-08-09 21:17] #148 closed, assigned to nobody

[2018-08-15 11:12] #149 closed, assigned to nobody

[2018-10-03 19:35] kgutwin opened #171 "Self links are incorrectly encoding URL scheme"
Recently-merged PR #147 introduced quoting for URLs such as self_url. My codebase includes fully-qualified URLs such as `https://example.com`. Unfortunately, these are now being incorrectly quoted to `https%3A//example.com`.

[code]

Would it be possible to apply the URL encoding only to the path and query portions?

[2018-10-04 15:00] jeffsawatzky commented on #12
Has any progress been made on this? I'm also wondering how you would handle lists. You use the same schema to dump both a single entity as well as multiple entities (with `many=True`), so how would that work with apispec?

[2018-10-10 20:04] kumy opened #175 "Version 0.20.4 is not published on pypi"
I can't find version 0.20.4 on pypi https://pypi.org/project/marshmallow-jsonapi/

And pip install say
`No matching distribution found for marshmallow-jsonapi==0.20.4 (from -r requirements/common.txt (line 3))`

[2018-10-12 00:15] sloria commented on #175
Ah, it looks like the build that was supposed to release 0.20.4 failed. I restarted it and it's now on PyPI. Sorry for the hiccup and thanks for bringing this to my attention.

[2018-10-12 00:15] #175 closed, assigned to nobody

[2018-10-12 11:03] aberres opened #177 "Relationships are not optional even when "required=False""
It seems as if relationships must be always passed even when not marked as required.

When introducing a new optional relationship into an API this behavior makes things a bit inconvenient.

[code]

[2018-10-24 14:50] darwinyip commented on #171
This seems like a pretty critical bug.

[2018-10-24 16:37] scottwernervt commented on #171
The pull request should be undone (no quoting). If a user needs quoting, they should override the url generate / build methods by subclassing `schema.Schema` and `fields.Relationship`.

[2018-10-24 18:10] grantHarris commented on #171
Here you go https://github.com/marshmallow-code/marshmallow-jsonapi/pull/184

[2018-11-05 15:44] franklinchou commented on #171
Any movement on this?

[2018-11-05 17:45] grantHarris commented on #171
I'll be looking at it again tonight

[2018-11-06 19:12] darwinyip opened #188 "Generate multiple relationship links per resource"
Is there a way to show a list `related_urls` even if no resources attached?
[code]
Note that even though `book` does not specify any `chapters` or `pages`, I still want it to show the links specified below.

[code]

[2018-11-06 20:10] scottwernervt commented on #188
Add `default=lambda: []` and `many=True` to your relationship fields:

[code]

See https://marshmallow.readthedocs.io/en/3.0/quickstart.html#specify-default-serialization-deserialization-values

[2018-11-06 20:34] darwinyip commented on #188
@scottwernervt It doesn't work.

[code]
[code]

[2018-11-06 21:19] scottwernervt commented on #188
I tested with the dev branch so I recommend updating to the latest release, `marshmallow-jsonapi==0.20.5` along with `marshmallow~=3.X.X`.

Note with marshmallow-3, `Schema().load()` and `Schema().dump()` do not return a `(data, errors)` tuple any more. Only `data` is returned and strict schema validation is always `True`.

[2018-11-06 22:04] darwinyip commented on #188
Thanks that worked! But I will wait until marshmallow 3 is no longer pre-release.

[2018-11-07 06:46] dependabot-preview[bot] opened #189 "Dependabot couldn't fetch all your path-based dependencies"
Dependabot couldn't fetch one or more of your project's path-based Python dependencies. The affected dependencies were `'.'/setup.py`.

To use path-based dependancies with Dependabot the paths must be relative and resolve to a directory in this project's source code.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-11-08 04:19] #188 closed, assigned to nobody

[2018-11-08 23:01] #189 closed, assigned to nobody

[2018-11-19 22:41] Battlesheepu commented on #127
Since the fix went live, I believe we can close the issue.

[2018-11-19 22:41] #127 closed, assigned to nobody

[2018-11-19 22:54] Battlesheepu opened #194 "Inconsistent included_data contents if the same resource is referenced in different relationships (when requested include_data differs between those relationships)"
Hello! This is nothing too serious (and as long as you're sure the same resource is referenced in different relationships, it's not that hard to have a workaround), but I've figured I still should report it here.

**The setup**
[code]

**The problem**

As you can see, the same resource (of type 'author') is in this particular case referenced in both of the fields. The contents of 'included' can be

[2018-11-27 17:58] joe-pensa opened #195 "Add support for pagination links"
There does not appear to be any way to support pagination links (first, prev, next, last) as defined in the spec: https://jsonapi.org/format/#fetching-pagination

[2018-11-28 18:18] scottwernervt commented on #195
I posted a workaround at https://github.com/marshmallow-code/marshmallow-jsonapi/issues/96#issuecomment-371975056, however, this should be implemented.

**Requirements**:

https://jsonapi.org/format/#fetching-pagination

- To paginate the primary data, supply pagination links in the top-level `links` object. To paginate an included collection returned in a compound document, supply pagination link

[2018-11-28 18:31] joe-pensa commented on #195
thank you.

[2018-12-06 17:15] franklinchou commented on #171
Any movement on this?

[2018-12-16 13:00] #177 closed, assigned to nobody

[2018-12-16 13:14] sloria commented on #171
The url quoting has been reverted. Released in 0.21.0.

[2018-12-16 13:14] #171 closed, assigned to nobody

[2019-01-31 01:01] dperconti commented on #12
*bump*

[2019-01-31 02:40] sloria commented on #12
I would happily review a PR for this, even just a sketch. I don't have time to work on this myself, as I am not currently using this project.

[2019-03-29 13:51] georgealton commented on #120
I've just uncovered this too.

One of the other painful parts is that the generated errors body wont pass the JSON:API spec because `detail` is required to be a string, but this is returning a number

[2019-04-23 21:42] jmehnle commented on #3
@rgant, do you have an update to share?

[2019-04-24 13:46] rgant commented on #3
There didn't seem to be any interest and I haven't made this a priority @jmehnle. I'd need to go through 2 years of Marshmallow updates in three projects to get this going again. It might make the most sense to just start over.

[2019-05-09 10:00] ttecles opened #224 "self_url from Meta with <attribute.id> raises error"
Hi all,

Why am I not able to refer an attribute from a relationship in the self_url for a specific schema but I can in a Relationship.

[code]

Here is my example where PostSchema has self_url = '/author/{author_id}/posts/{id}/' and it raises the error below. This is not happening when I specify related_url='/authors/{author_id}' on the relationship

[code]

Thank you for your time.

[2019-05-21 10:24] SteffenDE opened #227 "Version 0.21.1 not published on pypi"
Therefore, the current release does not work with marshmallow 3.0.0-rc6

https://pypi.org/project/marshmallow-jsonapi/#history

[2019-05-21 14:02] sloria commented on #227
Ah, thanks for reporting. Travis failed to finish the deploy step. It's published now.

[2019-05-21 14:02] #227 closed, assigned to nobody

[2019-05-21 17:45] SteffenDE commented on #227
Great, thank you!

[2019-08-07 16:20] RazerM opened #241 "links are not included when data is None"
wrap_response seems to think that a self link can't be provided when there isn't any data but I don't see this in the spec:

https://github.com/marshmallow-code/marshmallow-jsonapi/blob/22c0e38cc233ce3fa7fd25b32377c0b6d23eaa3c/marshmallow_jsonapi/schema.py#L418-L427

There is an example of such a response at https://jsonapi.org/format/#fetching-resources-responses:

[code]

[2019-08-10 14:42] Cilyan opened #242 "Incorrect formatting of error when raising from post_load"
I moticed that the error is incorrectly formatted when one raises a ValidationError from a pre/post decorator.

For example I have this in my Schema:

[code]

When an error occurs during usual validation, the errors is a dictionary with details:

[code]
But when I input some data that hits the custom validation, then the error is a string:

[code]
That behavior make it fail when used behind flask-

[2019-08-15 16:50] sproctor opened #244 "id required in relationship objects"
I'm new to JSON:API and this library, so I apologize if I'm doing something obviously wrong. I'm trying to parse a patch request. The contents of my request looks something like:

[code]
This fails with the exception: ```marshmallow.exceptions.ValidationError: {'items': ['Must have an `id` field']}```

It seems to put the id from the parent object in the members of relationships when serializing a

[2019-08-15 17:42] sproctor commented on #244
I think maybe this was my fault. Closing.

[2019-08-15 17:42] #244 closed, assigned to nobody

[2019-08-23 07:47] multimeric commented on #72
This can probably be closed...?

[2019-08-23 12:45] #72 closed, assigned to nobody

[2019-08-26 04:05] multimeric opened #247 "self links are constructed using the dumped data, not the original input"
I have the following schema:
[code]

A model:
[code]

And a view function:
[code]

However, when I hit the view endpoint, I get this error:
[code]

So, from the last line it's obvious that marshmallow-jsonapi is trying to pull the field `sample_id` from the dumped data, since it has an `id` field, which was *not* on the original model. However, this makes very little sense to me. We often want to

[2019-08-26 04:12] multimeric commented on #247
Note: this is the same error as #224

[2019-08-26 04:29] multimeric commented on #247
We could do this by generating the link objects in a `@pre_dump` method, and then attaching the links to the result in a `@post_dump`, whereas both are currently done in a `@post_dump`.

[2019-08-29 02:18] multimeric opened #248 "Relationships require the input object has a property with the same name"
I just created a Schema with the following [simplified] definition :

[code]

This was based off the model definition here:
[code]

See how, in my SQLAlchemy model, I don't have a `user` field? Because of the way that `serialize()` is defined in marshmallow (https://github.com/marshmallow-code/marshmallow/blob/e96bf97656ca3a8299d1382fae26c85f150e7e39/src/marshmallow/fields.py#L301-L306), if the `g

[2019-08-29 02:24] multimeric commented on #248
In my cases, it was an easy workaround to just add an SQLAlchemy `relationship()` to the underlying `Upload` model:
[code]

But if you don't have the benefit of using an ORM that can do this, this problem would be much worse.

[2019-08-29 09:06] multimeric opened #249 "marshmallow-jsonapi tries to build self links, even if `id` is None"
I have the following (simplified) schema:
[code]

I'm writing unit tests for my REST API, and thus I want to generate some sample data, dump it using this schema, send it in a POST request, and check that everything works. However, because I am constructing new data here, I naturally have no `id` for this field. This is accepted by the JSON API spec, in a request, although not a response. However,

[2019-08-29 10:46] multimeric commented on #249
Here's an easy workaround:

[code]

Then you can inherit from `OptionalLinkSchema`, and do:
[code]

[2019-09-04 08:30] tadams42 opened #250 "data.relationships.obj.id value is string although it was declared as fields.Int"
This is result that I get from `schema.dump` (full working code example is at the end):

[code]
The problem I'm having is that `data.relationships.author.id` is string `"1"` although it was declared as `fields.Int`.

Major problem where this surfaces is for JS clients trying to match by `id` object from `relationships` by included data for that object in `included`.

Full working code example:

[c

[2019-09-05 03:28] sloria commented on #250
`id`s in JSON:API must be strings: https://jsonapi.org/format/#document-resource-object-identification

We enforce this on relationship fields in marshmallow-jsonapi, but we leave it up to the user to use `fields.String` for `id` fields on root `Schema`s.

[2019-09-05 03:28] #250 closed, assigned to nobody

[2019-09-05 03:30] sloria commented on #249
I would review/merge a PR for this. I imagine the solution will be similar to https://github.com/marshmallow-code/flask-marshmallow/pull/125/files

[2019-09-05 03:31] sloria opened #251 "Drop support for Python 2.7 and 3.5"
* py2 EOL is nigh
* marshmallow 3 no longer supports Python 2
* Very few marshmallow users use Python 3.5 (even fewer than Python 2): https://marshmallow.sloria.io/#ma2-vs-ma3-pyminor

[2019-09-05 03:36] sloria commented on #247
@TMiguelT  Thanks for reporting all these issues and your workarounds. Unfortunately, I don't have much time to look into these, as I'm not using this project at work, and I'm busy with core marshmallow development in my free time. Feel free to send PRs; I can merge and release them as they come.

[2019-09-05 03:41] multimeric commented on #249
Excellent. I'll look into it when I get some time.

[2019-09-05 03:50] multimeric commented on #247
That's fine, I totally understand. I'm just putting them here so that they're better documented so I or someone else can solve them down the track. And the workarounds might help people in the meantime. Please don't feel like I'm demanding that they be fixed or anything.

[2019-09-05 03:53] multimeric commented on #247
Incidentally, I think the best way to solve this would be to make `format_json_api_response` use `@post_dump(pass_original=True)`, which is a flag I didn't know about when I first made this issue.

[2019-09-05 16:36] antgel commented on #3
@sloria As the OP, what are your current views on this? Following recent discussions on Slack, I'm keen to explore marshmallow-jsonapi, but I'm already pretty invested in marshmallow-sqlalchemy, and I'm using the stack for POC code, so no urgency, just interesting to know what integration might look like.

[2019-09-05 18:34] sloria commented on #3
Unfortunately, I don't really time to invest in this at the moment (I'm not using this project). I'd definitely merge documentation if someone is up to it, but won't be working on it myself in the near future.

[2019-09-05 21:02] sloria commented on #3
That said, I don't think there's any special magic needed to integrate these. Subclassing from e.g. ModelSchema and `Schema` should work fine. You'll just need to make sure to inherit the `class Meta`s.

[code]

If you don't want marshmallow-sqlalchemy to autogenerate fields for relationships, you can use `TableSchema`.

[code]

Note: TableSchema won't deserialize to model instances, but that's ea

[2019-09-15 15:07] #251 closed, assigned to nobody

[2019-09-17 06:17] multimeric opened #254 "Validate that the ID field exists, but don't load it"
Following on from discussion here: https://github.com/json-api/json-api/issues/1427.

Basically, it makes sense for JSON API servers to validate that there is an ID in all data it deals with, BUT there are situations where you don't want to have to see this ID after you load some data.

For instance, I have an example where my server returns a dictionary that corresponds to the keyword arguments t

[2019-09-17 12:14] goutamenara opened #255 "How to add meta tag to a resource identifier object in relationship ?"
How to add meta tag to a resource identifier in a relationship as shown in the example below

Example {json:api} data :
{
          "data" : {
                      "type" : "products",
                       "id" : "1",
                        "relationships" : {
                                "processes" : {
                                         "data" : [

[2019-09-29 18:23] antgel commented on #3
@sloria Thanks for that, however in my trivial example, I got the same error as @ZeeD26 .

[code]

Did you run the  example code, or was it just supposed to work? :) If the former, I'll post a longer example of my code, but it seems that this is a pretty common error when trying to inherit from both `marshmallow-jsonapi` and `marshmallow-sqlalchemy`.

Note that if I swap the superclasses around i.

[2019-09-30 02:12] multimeric commented on #255
Refer to the documentation here: https://marshmallow-jsonapi.readthedocs.io/en/latest/quickstart.html#meta-information.

Broadly, you use the `marshmallow_jsonapi.fields.DocumentMeta()` field in your schema.

[2019-09-30 02:15] multimeric commented on #255
Although having said that, if `order` refers to another resource, you should be treating the order number as a relationship and not as meta information. In this case you would use the `marshmallow_jsonapi.fields.Relationship()` field.

[2019-09-30 02:25] multimeric opened #257 "Request argument schema"
The JSON API spec outlines a few (optional) query parameters for the requests:

* [`include`](https://jsonapi.org/format/#fetching-includes), which determines which related resources should be included
* [`fields[TYPE]`](https://jsonapi.org/format/#fetching-sparse-fieldsets) which includes or excludes fields from the response schema
* [`sort`](https://jsonapi.org/format/#fetching-sorting), which c

[2019-09-30 04:58] goutamenara commented on #255
@TMiguelT
Thanks for the reply,

`marshmallow_jsonapi.fields.DocumentMeta() `adds meta data to the top level document. I wish to add meta data to **resource identifier object** . In the example given `processes` represents a `To-Many Relationship` and `order` represents just a number to identify the sequence of the `processes`.

json api specification allows adding meta information in resource ide

[2019-09-30 05:56] multimeric commented on #255
Ah sorry I didn't parse the JSON structure properly. Here's a formatted version:
[code]

[2019-09-30 05:57] multimeric commented on #255
In any case, I believe you are right that this is a bug.

Here's a simple test case derived from your example:

https://gist.github.com/TMiguelT/932ae76b71c5cea79f45937b92a5ebe8
[code]

Basically, I'm asserting that the associated processes have a `meta` field, when we set         `include_resource_linkage=True`, and this is not the case. Instead, it prints:

[code]

The source of the issue is her

[2019-09-30 06:03] TMiguelT commented on #255
For now, the workaround is to use `include_data`. And then exclude out all the unwanted attributes except for the meta (using the same schemas as above):

[code]

[2019-09-30 06:09] multimeric commented on #255
However, while this is a bug, I would be surprised if your order number needs to be a meta field, as I said. It sounds like it should be a relationship on `processes`.

[2019-09-30 06:33] goutamenara commented on #255
In my case `processes` is a general collection containing all the processes, and for a product there will be 3 or 4 processes as a relationship in a specific `order`. For the same process , `order` can be different for different `products`. For example for product1 , process1 comes first and may be for product2 , process1 can come as a 3rd process.

That's why i thought adding a meta information t

[2019-09-30 06:44] multimeric commented on #255
Oh, I see. It's "order" in the sense of the position in a list. I thought you meant order in the sense of "purchase". In that case I agree with you, that sounds like it could reasonably be a meta property, since it's not technically a field.

On the other hand, the JSON API spec does say:

So, if you want, you could hack the `Relationship` field in order to ensure that the processes are in sorted

[2019-10-18 05:53] multimeric opened #261 "Auto load all relationships if data is present"
If I have a dictionary of data that includes some relationships, e.g.:
[code]

And this schema:

[code]

I want some way to load the relationship data without having to specify `include_data=['report']` *if the relationship data is present*, and to otherwise fall back to simply loading the ID.

The main use case for this is a `POST` request, where we allow users to either submit a resource that ha

[2019-10-18 06:08] multimeric commented on #261
I'm a fool, `marshmallow-jsonapi` already does this automatically. You don't have to specify `include_data` when doing `Schema().load()`!

My mistake was having a `Relationship` type and a `Schema` type that didn't match up (you can see above I've written `type_='report'` but the JSON says `"type": "reports"`, hence the mismatch!

[2019-10-18 06:08] #261 closed, assigned to nobody

[2019-10-18 07:22] multimeric commented on #3
I think to fix the latter issue (missing `inflect` or `model_converter`)  you'll also need the SchemaOpts class to inherit from both parents. I haven't tested it, but it should be something like:
[code]

[2019-10-19 04:57] multimeric commented on #3
Actually @sloria I'm wondering if we could do some Metaclass magic where, whenever someone subclasses a Schema with multiple parents, we automatically create an Options class and a `class Meta` that combine the Options/Meta of the parent classes.

This would let us combine these two libraries with much less code.

[2019-10-22 05:42] multimeric commented on #3
Another issue with this integration is when you have a relationship that doesn't have included data, e.g.
[code]

What happens here is that the `Relationship` field serializes it to an ID (2), which is correct, because that's the only information we have access to. But then in the `make_instance` hook, we set `user = 2`, and because 2 is not a valid model object, it fails with:
[code]

[2019-10-22 08:35] multimeric commented on #3
My current solution to this problem is to use a custom `Relationship` field subclass that queries for the associated object:

[code]

Ideally we'd only set the foreign key field when this happens, (ie instead of setting `user`, we set `user_id`), but I don't think Marshmallow can do this.

[2019-10-22 15:43] mhxi opened #262 "Infinite Loop caused by bidirectional relationships on child objects in included data"
The issue occurs while attempting to load an object with bidirectional relationships on child objects in the `included` data.

Below is a minimal example demonstrating the issue. When we try to load the root data object, we run into a `RecursionError`.  It seems marshmallow-jsonapi goes into an infinite loop trying to load the `included` objects when the children have bidirectional relationships.

[2019-10-23 09:31] multimeric commented on #262
What's strange is that this bug doesn't happen if you remove all references to the `SecondChildSchema`, even though there's also a circular relationship between `Root` and `FirstChild`. It seems that this happens only when there are relationships between multiple included data resources.

I think this is because they access related related data in slightly different ways from when it's the root el

[2019-10-24 07:58] multimeric opened #263 "Include all data automatically"
If I have a series of nested models (from SQLAlchemy, for example), it would be nice to be able to `RootSchema(include_data=True).dump(root_model)`. Currently, you have to spell out each and every relationship you want to include, but it's not inconceivable you might want to dump out the whole relationship tree.

My proposed API for this would be setting `include_data` to `True`, rather than passi

[2019-10-25 23:06] dan-bowen opened #265 "Does the Flask integration support blueprints?"
Hello,

I am following the Flask example as documented here: https://github.com/marshmallow-code/marshmallow-jsonapi/blob/dev/examples/flask_example.py

I have created a simple `/ping` endpoint using the Flask integration with the minor exception that I am using blueprints to organize my routes. Here is the complete blueprint:

[code]

The problem I am having with this is an unexpected JSON respon

[2019-10-28 04:08] multimeric commented on #262
I've looked into solving this, but it's not easy. The best way would be to store the `ret` value from `Unmarshaller` and storing it in a dictionary indexed by `id` and `type`, and then look up that dictionary whenever we try to deserialize a field. However the `Unmarshaller` class doesn't provide any hooks with which we can do this. I think we'd have to modify the base `marshmallow` library to do

[2019-11-07 15:08] AdrianVandierAst commented on #133
This bug arises when using flask-rest-jsonapi. I've done a correction to have a consistent type for included_data. Pull request coming soon.

[2019-11-07 21:29] AdrianVandierAst commented on #133
The promised pull request: #268
Don't know how to link it :/

[2019-11-08 00:12] multimeric commented on #133
So if I understand right, the behaviour is consistent for each task: when dumping, `included_data` is consistently a `dict`, and when loading it's consistently a `list`. But it's only if you re-use a schema for both tasks this causes issues?

@AdrianVandierAst if you write "closes X" anywhere in a comment on your PR, it will link them: https://help.github.com/en/github/managing-your-work-on-github

[2019-11-13 04:21] dan-bowen commented on #265
Found it. Was on an old version. I never found the root of the problem but upgrading to `0.22.0` fixed this.

[2019-11-13 04:21] #265 closed, assigned to nobody

[2019-11-13 19:42] coffeyk opened #269 "Schema instances leak included data"
I found an issue where reusing a Schema instance causes old data to be included in future dumps. This example shows it happening for the `included` section, but I expect it is also an issue for the `meta` section too.

[code]

[2019-11-18 15:45] joaozeni commented on #195
Hello,
Correct if i'm wrong. But adding this functionality to the dump method would also add pagination links to the flask-marshmallow jsonify.
I need this and currently i'm doing a work around using the paginate object of the flask-sqlalchemy.
If thats the case i can take this issue. Or would be better to create one in the flask-marshmallow project?

[2019-11-18 21:45] multimeric commented on #195
It will only add pagination links if you're using `marshmallow-jsonapi.Schema` as the base for your schemas, rather than `flask_marshmallow.Schema`

[2019-11-19 00:52] joaozeni commented on #195
OK, cool.
So i will open an issue in the flask-marshmallow project. I guess the solutions will be some what similar, so if i can i will take this one after.

[2019-12-04 21:32] fhriley opened #273 "related_url doesn't get added if no kwargs"
If you have a relationship with a related url of `/foo/bar`, you specify the relationship in the schema like this:

[code]

This will never add the `related` URL to the output due to the following check in the code:

https://github.com/marshmallow-code/marshmallow-jsonapi/blob/540cf1be0832fb3255cfcb649250f57fcf76ccad/marshmallow_jsonapi/fields.py#L159

Instead, this code should do the following:

[2019-12-04 23:41] multimeric commented on #273
Although you seem to be right about this behaviour, I wonder what the point is of having a relationship that doesn't use any kwargs. Normally the related URL would be `/posts/1/comments`, or `/authors/1` , both of which use an argument. What is your use-case for a hard-coded URL?

[2019-12-04 23:47] fhriley commented on #273
It is a one to one relationship and there will never be more than one. For example, there is one 10 GigE interface and that interface has one SFP, which is in the API as /xgige/sfp. This is much cleaner than having /xgiges/1/sfps/1, which also doesn't make sense to clients of the api since there aren't multiple interfaces.

[2019-12-05 00:22] multimeric commented on #273
Yeah okay I think that makes sense. Should be an easy fix.

[2019-12-05 17:22] fhriley opened #275 "self_url_many should have a self_url_many_kwargs"
`self_url_many` in a schema's Meta class should have a corresponding `self_url_many_kwargs`. Consider the following scenario where `bars` cannot exist on their own, only within `foos`:

[code]

This situation is currently impossible because there is no `self_url_many_kwargs`.

[2019-12-05 17:45] fhriley opened #276 "self_url_kwargs should come from object, not schema"
`related_url_kwargs` are pulled from object data. `self_url_kwargs` are pulled from schema data. This is inconsistent (I got bit by it the first time I tried using `self_url_kwargs`). Furthermore, it means that all `kwargs` used in `self_url_kwargs` must be serialized as part of the schema, which I don't always want to do. For example:

[code]

I don't want `foo_id` to be serialized in a `bars` sc

[2019-12-06 01:54] multimeric commented on #276
I'm not sure I'm understanding correctly, but is this a duplicate of my issue,  #247?

[2019-12-06 02:17] multimeric commented on #275
Agreed. The spec says "`self`: the link that generated the current response document.", so it strongly implies that any response, including a resource that has to be in a relationship, should be able to have the current URL as a `self` link.

[2019-12-06 02:39] fhriley commented on #276
This looks like the same issue, but #247 is on `self_view_kwargs`. They should probably be fixed together.

[2019-12-13 11:58] iamareebjamal opened #277 "Avoid fetching included relationship in creating link"
We were suffering from huge performance problem which fetching a list of resource. It was taking up to 3 seconds. And for a single resource, up to 150 ms. We thought it is due to inefficiency of python and serialization time of marshmallow, but when we profiled the code. SQL query was taking 3 ms and through python (SQLAlchemy), only 7 ms. After analyzing where the most time was being consumed, we

[2020-01-28 12:56] etiennecaldichouryatnapta commented on #194
Hi,
Seems like I went through the same issue!
Will try to debug it but will be happy if one of the maintainers has some tips for me. :D

[2020-01-28 15:35] etiennecaldichouryatnapta commented on #194
Ok seems like the issue is coming from

```self.root.included_data[(item["type"], item["id"])] = item```
in **marshmallow-jsonapi/marshmallow_jsonapi/fields.py:286**

We should merge the new item with included_data already present. Something like:

[code]

What do you think?

[2020-01-29 12:28] etiennecaldichouryatnapta commented on #194
There is another place which needs modification
Here is the modified version:

[code]

[2020-02-02 17:58] #277 closed, assigned to nobody

[2020-02-12 17:30] Bu3a3a opened #290 "Adding calculated attribute to the scheme"
Hi!
I'm trying to add a calculated field to the scheme using @post_dump:

[code]

I'm getting this error:

[code]
Is there a way to make it with marshmallow-jsonapi?

[2020-02-19 18:56] olinger commented on #254
@TMiguelT Did you ever figure out a way to do this? I need to do something similar and can't figure out a way besides unknown=EXCLUDE (which I don't want to do).

[2020-02-19 22:36] multimeric commented on #254
No, it looks like I'm still using `unknown=EXCLUDE` in the code that uses this, sadly.

[2020-02-28 21:03] turekaj opened #294 "deserialization of responses from flask-rest-jsonapi not working"
I currently use flask-rest-jsonapi (https://flask-rest-jsonapi.readthedocs.io/en/latest/) to implement an API. I  have defined my schemas and relationshipsusing marshmallow_jsonapi.flask, and the schemas live in another project.

I attempted to create a client which would import the schemas, and utilize the requests library to make http requests to my backend.

MySchema().loads(response.json()) gi

[2020-02-29 06:03] multimeric commented on #294
From memory, flask-rest-jsonapi [adds some metadata](https://github.com/miLibris/flask-rest-jsonapi/blob/master/flask_rest_jsonapi/resource.py#L94-L95), like the jsonapi version, which will cause you to have trouble if you load them via marshmallow-jsonapi.

My hack to solve this for my API is simply deleting the metadata and jsonapi keys: https://github.com/ewels/MegaQC/blob/130cafdb1f74b042385d0

[2020-03-02 14:07] turekaj commented on #294
The error is actually a validation error of my "attributes".  Note, I have replaced the actual names of my fields with field_name_1, etc below.

JSON response after deleting ret['meta'] and ret['jsonapi']
{'data': [{'attributes': {
                         // i see all the fields that were "unknown in the validation here. Some are also here that do not cause validation to puke"
           ....

ma

[2020-03-02 14:18] turekaj commented on #294
I think I see the issue.

I have fields set as dump_only so that they are really read-only fields. However, I want to share the same schema between my client and server code.

1) do GET request from server. Schema is populated from DB, and then serialized out to jsonapi
2) client gets response back, attempts to de-serialize response into schema, but schema has dump_only=True for fields that were r

[2020-03-02 14:30] turekaj commented on #294
Replacing dump_only=True with the following 3 parameters gets close to what  I want.
required=False, missing=None, allow_none=True,

I believe now the real solution is define two schemas, one for server, one for client, that are identical, except for the field parameters.

[2020-03-22 14:23] #120 closed, assigned to nobody

[2020-04-07 21:40] olinger commented on #269
ran into this issue as well.. here is a quick workaround - put a pre_dump in your schema to clear out any existing included data before you dump.
[code]
I use a base schema class for all my schemas that includes this pre_dump (and some other stuff) so its not so tedious, but it would be nice to see a real fix for this.

[2020-04-22 19:33] erichaus opened #303 "How can I sort the serialized attributes alphabetically?"
This may be a question for the underlying library but when I `schema().dump({})` my data, the attributes are completely unordered. How can I have them sorted alphabetically when serializing out to the client?

https://stackoverflow.com/questions/48981555/sort-field-values-alphabetically-using-marshmallow

[2020-05-21 23:26] g-brizolier opened #308 "including list of nested when serializing"
I am using json:api with python with a class that looks like this:

[code]
and the other one looks like this:

[code]
In the ChildrenResultSerializer.serialize function, I want to be able to see the toys data for each of the children. I'm using it like this:

[code]
but I get this error: `ValueError: Can only include relationships. "children" is a "List"`

what am I doing wrong? I would like to ke

[2020-07-12 01:29] retr0h commented on #262
@TMiguelT ever figure this out?

[2020-07-16 01:06] christrumbull opened #317 "Add Title to format_error()"
For more human readable response on errors can we update the return for format_error() to:
return {"title": field_name, "detail": message, "source": {"pointer": "/".join(pointer)}}

[2020-07-20 12:48] tirkarthi opened #318 "Importing ABC directly from collections has been deprecated and will be removed in Python 3.10"
Use collections.abc instead since library is Python 3.6+ only

[code]

[2020-07-20 13:35] #318 closed, assigned to nobody

[2020-07-28 23:35] femto113 opened #320 "should flask.Schema.check_relationships honor data_key?"
This problem just came up for me.  I've got models that represent a person, and the person can have one or more "tickets", and each ticket may have an associated "pass" (think like going to a convention where the pass is the thing around your neck, the ticket is a more abstract thing you buy).  Python veterans will immediately spot the problem: `pass` is a reserved word.    Simplified code:

[code

[2020-11-11 22:56] lljr commented on #195
do we still need to use the workaround? I was planning on integration pagination for an app.

[2020-11-13 21:08] lljr commented on #195
How do I use this workaround in Flask? There are two variables that are undefined in the code sample: `ujson` and `dasherize`. Should they be imported from somewhere? It'd be good to include an example on how to invoke the class as well.

[2020-12-23 11:18] #133 closed, assigned to nobody

[2020-12-28 21:41] pguyot commented on #275
`self_url_kwargs` substitutes url with values from self ([item](https://github.com/marshmallow-code/marshmallow-jsonapi/blob/2f78e3a08f0bf150116ffb5f15ff793eee10e4de/marshmallow_jsonapi/schema.py#L404)). Where would we get the values in the case of a list with `self_url_many_kwargs` (`foo_id` in your example), including when no data is returned (the list is empty)?

[2021-05-14 09:22] maurges opened #394 "Bulk loading doesn't work"
Cf. [this stackoverflow question](https://stackoverflow.com/questions/64755775/python-marshmallow-attributeerror-list-object-has-no-attribute-get) (not mine)

 When you try to load items in bulk like this: `data = UserSchema(many=True).load(input_data)`, you get an error: `AttributeError: 'list' object has no attribute 'get'`

This happens because the `_do_load` overload of the schema doesn't chec

[2021-05-20 14:07] GuillaumeCisco commented on #72
Is it supported today?
Can't find anything in the documentation :/

[2021-07-15 09:30] ian475 opened #414 "I need code for input"

[2021-07-15 09:30] ian475 commented on #414
136272

[2021-08-27 18:56] aalvrz opened #418 "Using custom field for `id`"
What is the correct way for using a different field to serialize the `id` field? I am dealing with SQLAlchemy objects that do not use an `id` field but rather a more verbose identifier like `post_id` for example.

I tried using `data_key` but it won't work:

[code]

The data is serialized, but no `id` field is present in the dump.

Using `Function` field works but I don't know if there is a better

[2021-09-08 00:05] tjbanks commented on #12
Switching to https://github.com/thomaxxl/safrs ended up being my solution, may save others time until this issue is resolved.

[2021-09-21 02:00] jeff-bonevich opened #419 "Schema serialization and deserialization is not symmetric?"
If I try to dump a an object with a relationship, then deserialize the output, i do not get the same object - the relationship is now represented as the id of the related schema.

[code]

Output is:
[code]

[2021-10-01 18:21] jeff-bonevich commented on #419
Hello!  Is this project dead?  Or is there a better place to post this, such as stackoverflow or else where?   Happy to jump in and submit patches, but would like to understand context etc first.

[2021-10-13 16:02] Battlesheepu commented on #418
Hey @aalvrz ,

It's been some time since you've posted the issue, but I've realized I still might post an answer in case somebody else has a similar problem.

Have you tried using the 'attribute' argument instead of 'data_key'?

[code]

The output to this snippet is
[code]

Why this way? Take a look at the [Marshmallow Fields docs,](https://marshmallow.readthedocs.io/en/stable/marshmallow.fields.h

[2021-10-18 16:03] coneybeare opened #420 "Support for Fetching Relationship Responses?"
The [JSONAPI spec](https://jsonapi.org/format/#fetching-relationships-responses) allows for the querying of `relationship` level data, but I haven't found any examples in the docs or repo on how best to handle this. It is a little different than a normal query, in that attributes are not included, and the `self` url is different:

[code]

What is the best way to go about serializing this data usin

[2021-10-19 19:17] aalvrz commented on #418
@ww3pl Worked perfectly! Thanks for your help.

[2021-10-19 19:17] #418 closed, assigned to nobody

[2021-10-28 17:08] aalvrz opened #421 "Dynamic `type_` in schema during serialization"
I am currently dealing with a result collection that contains different "types" of objects, a union of queries. This means that I cannot set a `type_` field to the schema's meta, it must be determined at run time when checking each object to be serialized.

I tried the following without any luck:

[code]

Serializing the collection of objects results in "buzz" being set as the type for all of them

[2021-10-29 00:21] Battlesheepu commented on #421
Hi again @aalvrz !

Correct me if I'm wrong, but you have a way to recognise which object is of what "type" - is that correct?

If that's how it is, why not:

1. Prepare separate schemas for each type (nothing dynamic here)
2. Loop through the results of the query, identifying the object's type
3. Choose the appropriate schema for serialization for every object and/or group objects together based

[2022-03-09 10:54] vamonte opened #423 "Why do you stringify the id of the resource_linkage ?"
Hi,

I have a question about the resource linkage.
I use your code in my project and I don't understood  why my resource linkage id was always a string.
I checked your repository and I found the reason but I don't it.
In the fields.Relationship class, you stringify the id value to build the resource linkage. https://github.com/marshmallow-code/marshmallow-jsonapi/blob/e7273b4c3e6b7bad6279302caef2a

[2022-03-20 22:03] #303 closed, assigned to nobody

[2022-03-21 07:03] judgeaxl commented on #275
That is a good question. Additionally, even if the collection has data, which one would you pick the value from?

I've not used marshmallow enough to say if it makes sense to pass these args to `dump()` or not, but as it stands the only option seem to be to dump and update, which doesn't work when dumping takes place in a wrapper, like in `flask-smorest`.

[2022-03-24 02:44] judgeaxl commented on #423
"Every [resource object](https://jsonapi.org/format/#document-resource-objects) MUST contain an id member and a type member. The values of the id and type members MUST be strings."

https://jsonapi.org/format/#document-resource-object-identification

[2022-03-25 10:24] vamonte commented on #423
@judgeaxl Oh, I didn't see this part of the spec.
Thank's you for the link.

[2022-03-25 10:24] #423 closed, assigned to nobody

[2022-04-20 18:03] mjhanke opened #424 "change marshmallow requirement after dropping marshmallow v2 support"
[changelog](https://marshmallow-jsonapi.readthedocs.io/en/latest/changelog.html#id2) v0.24.0:
[code]

[install requirements](https://github.com/marshmallow-code/marshmallow-jsonapi/blob/0.24.0/setup.py#L4) v0.24.0:
[code]

the `setup.py` file should be updated to reflect no longer supporting `marshmallow<3` after https://github.com/marshmallow-code/marshmallow-jsonapi/pull/332

[2022-06-01 19:57] #421 closed, assigned to nobody

[2022-06-30 21:29] NAN-CForadas opened #425 "How do I get many rows with links?"
# Help!
[code]

# Code
[code]

# Output
[code]

[2022-07-01 17:14] NAN-CForadas commented on #425
When I run it in a jupyter notebook I get some extra error information which may be helpful:

[code]

[2022-09-04 11:59] vladmunteanu commented on #12
@sloria I've started toying around with this idea here: https://github.com/vladmunteanu/marshmallow-jsonapi-exp/

It's too early for me to tell if schema introspection would work well with this implementation, but I would appreciate some thoughts.